.offer-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  flex-wrap: wrap;
  padding: 10px 18px;
  margin: auto;
  margin-bottom: 30px;
  width: fit-content;
  /*background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);*/
  border-radius: 999px;
  backdrop-filter: blur(10px);
}

.offer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.offer-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
      filter: brightness(1.7) contrast(1.1) drop-shadow(0 0 6px rgb(63, 99, 172));
  filter: drop-shadow(0 0 6px rgba(80, 160, 255, 0.35));
}

/* Mobile */
@media (max-width: 768px) {
  .offer-bar {
    width: 100%;
    justify-content: center;
    border-radius: 18px;
    padding: 10px 12px;
    display: inline-flex;
    gap: 10px;
    display: none;
  }

  .offer-item {
    font-size: 13px;
    gap: 8px;
  }

  .offer-icon {
    width: 20px;
    height: auto;
        filter: brightness(1.7) contrast(1.1) drop-shadow(0 0 6px rgb(63, 99, 172));
  }
}