*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  background-color: #05070b;
  color: #fff;
}

button {
  font-family: inherit;
}
html {
  scroll-padding-top: 65px;
  scroll-behavior: smooth;
}

