*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
<<<<<<< Updated upstream
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  background-color: #05070b;
=======
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;  background: linear-gradient(45deg, #161616 13%, #081127 66%, rgb(1 3 33));
>>>>>>> Stashed changes
  color: #fff;
}

button {
  font-family: inherit;
}
