*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  background: linear-gradient(45deg, #161616 13%, #081127 66%, rgb(1 3 33));
  color: #fff;
}

button {
  font-family: inherit;
}

html {
  scroll-padding-top: 65px;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}


@media (max-width: 900px) {
  html {
    scroll-padding-top: 20px;
    scroll-behavior: smooth;
  }
}

.brand-logo {
  filter: brightness(1.7) contrast(1.1) drop-shadow(0 0 6px rgb(63, 99, 172));
  transition: filter 0.3s ease, transform 0.2s ease;
}

.brand-logo:hover {
  filter: brightness(2) contrast(1.2) drop-shadow(0 0 10px rgba(255, 215, 100, 0.6));
  transform: scale(1.03);
}

html {
  scroll-snap-type: y proximity;
  /* Changed from mandatory */
  timeline-scope: --section;
}

.game-section,
.faq-container,
.footer-container,
.gamepage-layout,
.home-wrapper,
#searchResults,
#top-picks,
.all-games-page {
  scroll-snap-align: start;
  view-timeline: --section;
}

.game-section .content-anim,
.faq-container,
.footer-container,
.gamepage-layout,
.home-wrapper,
#searchResults,
#top-picks,
.all-games-page {
  animation: backwards-scroll ease-in-out both;
  animation-timeline: --section;
  position: relative;
}

html,
body {
  overscroll-behavior: none;
  scroll-padding-top: 130px;
}