.home-wrapper {
  margin: 0 auto;           /* centers horizontally */
  position: relative;
  z-index: 1;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (max-width: 430px) {
    .search input {
        min-width: 50px !important;
        width: 85px !important;
    }
  }

  @media (max-width: 430px) {
    .home-wrapper{
      padding: 0 10px;
    }
  }
