.home-wrapper {
  margin: 0 auto;
  /* centers horizontally */
  position: relative;
  z-index: 1;
  max-width: 1280px;
  padding: 0 24px;
  min-height: 60vh;
}

@media (max-width: 430px) {
  .search input {
    min-width: 50px !important;
    width: 85px !important;
            font-size: 10px;
  }
}

@media (max-width: 430px) {
  .home-wrapper {
    padding: 0 10px;
  }
}




/*    Skeleton Loading ------ START   */

::selection {
  background: #ffffff16;
  color: snow;
}

::placeholder {
  color: #fffafa4f;
  letter-spacing: 1px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  color: #fffafa;
  font-family: 'Nunito','Nunito Fallback',Arial,"Helvetica Neue",Helvetica,sans-serif;
  user-select: none;
  font-weight: 100;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.12s ease-in-out;
}


.card {
  position: relative;
  aspect-ratio: 1;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  max-height: 171px;
  max-width: 171px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column;
  background: #ffffff16;
  box-shadow: 0 8px 32px 0 #ffffff16;
  backdrop-filter: blur(8px);
  border-radius: 6px;
  border: 1px solid #ffffff04;
  padding: 0;
  margin: 16px;
  width: 200px;
  max-width: 1280px;

  .image {
    height: 200px;

    img {
      display: block;
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

  .content {
    padding: 16px;

    h1 {
      margin-bottom: 8px;
      font-size: 1.4rem;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 1rem;
      line-height: 1.4;
    }
  }

  &.loading {

    .image,
    .content * {
      background-color: #ededed0f;
      background: linear-gradient(100deg,
          #ffffff00 40%,
          #ffffff12 50%,
          #ffffff00 60%) #ededed0f;
      background-size: 200% 100%;
      background-position-x: 180%;
      animation: 1.6s Shine ease-in-out infinite;
    }

    .content {
      h1 {
        min-height: 32px;
        border-radius: 4px;
        animation-delay: 0.05s;
      }

      h2 {
        min-height: 64px;
        border-radius: 4px;
        animation-delay: 0.07s;
      }
    }
  }
}

@keyframes Shine {
  to {
    background-position-x: -20%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  gap: 20px;
}


.loading-section {
  margin-bottom: 40px;
}

.skeleton-title {
  height: 32px;
  width: 250px;
  background: linear-gradient(100deg,
      #ffffff00 40%,
      #ffffff12 50%,
      #ffffff00 60%) #ededed0f;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1.6s Shine ease-in-out infinite;
  border-radius: 8px;
  margin-bottom: 20px;
}

.loading-section {
  background: #ffffff0d;
  box-shadow: 0 8px 32px 0 #ffffff16;
  backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid #ffffff04;
  padding: 20px;
}


@media (max-width: 750px) {

  .skeleton-title,
  .card.loading {
    margin: 0 auto;
  }

  .card.loading{
    width: 150px;
  }

  .skeleton-title {
    margin-bottom: 20px;
  }

  .grid{
        grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
  }
}



/*    Skeleton Loading ------ END   */



/* Responsive Design */
@media (max-width: 768px) {


  html, body {
    overscroll-behavior: none !important;
    scroll-padding-top: 90px !important;
}

}


.game-category{
  text-transform: capitalize;
}