/* ===========================
   DESKTOP SIDEBAR
=========================== */

.sidebar {
  width: 80px;
  background: #0d1117;
  position: fixed;
  top: 90px;
  left: 0;
  height: calc(100vh - 90px);
  padding-top: 20px;
  border-right: 1px solid #1f2937;
  transition: width 0.25s ease;
  z-index: 10;
}

.sidebar:hover {
  width: 220px;
}

.sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #cbd5e1;
  background: #111827;
  border: 1px solid #1f2937;
  padding: 12px;
  margin: 8px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar-item:hover {
  background: #1f2937;
  color: white;
}

.sidebar-item.active,
.drawer-item.active {
  background: #1f2937;
  color: #ffffff;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.25) inset;
}

.label {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.sidebar:hover .label {
  opacity: 1;
  visibility: visible;
}

/* ===========================
   MOBILE DRAWER SIDEBAR
=========================== */
@media (max-width: 900px) {
  .sidebar {
    width: 240px;
    transform: translateX(-100%);
    display: block;
    top: 70px;
    height: calc(100vh - 70px);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar:hover {
    width: 240px; /* disable hover logic */
  }

  .sidebar-item {
    flex-direction: row;
    justify-content: flex-start;
  }

  .label {
    opacity: 1;
    visibility: visible;
  }
}

/* Overlay (dark background behind drawer) */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 15;
}

.icon {
  margin-left: 10px;
}
.sidebar-item {
       
        font-size: 18px;
        filter: grayscale(.4) opacity(.8) !important;
        transition: filter .18s ease, transform .18s ease;
             
}

.sidebar-item:hover,.sidebar-item.drawer-item.active {
       
        
        filter: none !important;
        
             
}

