.game-card {
  width: 160px;
  background: #0f131a;
  border-radius: 14px;
  padding-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.game-card:hover {
  transform: translateY(-4px);
}

.game-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #1a1f27;
}

.game-card-title {
  padding: 8px;
  margin-left: 0.1rem;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
