/* react-app/src/components/FeaturedCarousel/FeaturedCarousel.css */
.featured-strip {
  overflow: hidden;
  border-radius: 18px;
  background: radial-gradient(circle at top left, #1e293b, #020617);
  padding: 12px 0;
}

.featured-track {
  display: flex;
  gap: 14px;
  width: max-content;
  will-change: transform;
}

.f-card {
  min-width: 220px;
  max-width: 220px;
  border-radius: 16px;
  overflow: hidden;
  border: none;
  background: #020617;
  cursor: pointer;
}

.f-thumb {
  height: 120px;
  background-size: cover;
  background-position: center;
}

.f-title {
  padding: 8px 10px;
  font-size: 13px;
}






.no-padding {
  padding: 0 !important;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}
